body {
    padding-top: 10px;
}

.col-outer {
    height: 175px;
    position: relative;
}

.col-inner {
    position: absolute;
    top: 50%;
    height: 110px;
    margin-top: -55px;
    width: 100%;
}

.row-download {
    margin-top: 10px;
}

.btn-download {
    width: 140px;
}

.tags-input-home li {
    height: 30px;
    line-height: 2;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
}

.tags-input-home input {
    height: 30px;
    padding-top: 1px;
}

.superheroes li {
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
}

.movies li {
    background: linear-gradient(to bottom, rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
}

.movies li.selected {
    background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
}