body {
    padding-top: 10px;
}

h1 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.tagline {
    font-size: 20px;
    line-height: 1.4;
    margin: 0px 0px 10px;
}

.jumbotron h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #dbdbdb;
}

.col-outer {
    height: 175px;
    position: relative;
}

.col-inner {
    position: absolute;
    top: 50%;
    height: 110px;
    margin-top: -55px;
    width: 100%;
}

.row-download {
    margin-top: 10px;
}

.btn-download {
    width: 200px;
}

.tags-input-home .tags .tag-item {
    height: 30px;
    line-height: 29px;
}

.tags-input-home .tags .input {
    height: 30px;
}

.deleted-text {
    text-decoration: line-through;
}

.type {
    display: block;
}

.type-string {
    background-color: #428bca;
}

.type-number {
    background-color: #d9534f;
}

.type-boolean {
    background-color: #5cb85c;
}

.type-expression, .type-object {
    background-color: #999;
}

.type-regexp {
    background-color: #5a54bd;
}

.methods {
    padding-left: 0;
}

.methods li > h3 {
    background-color: #d3d3d3;
    margin: -10px -10px 10px;
    padding: 10px;
    font-family: monospace;
    font-weight: bold;
}

.methods li {
    list-style-type: none;
    border: 1px solid #cecece;
    padding: 10px;
}

.methods li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.methods li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.methods li h5 {
    font-weight: bold;
}

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
}
.sidebar-nav .navbar ul {
    float: none;
}
.sidebar-nav .navbar ul:not {
    display: block;
}
.sidebar-nav .navbar li {
    float: none;
    display: block;
}

.sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.sidebar-nav .navbar li.header span {
    color: #555;
    background-color: #e7e7e7;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #000;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #000;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.command-line::before {
    content: "$ ";
}

.post-timestamp {
    margin-top: -15px;
    margin-bottom: 20px;
    color: #808080;
}

.post-content {

}