body {
    padding-top: 10px;
}

.col-outer {
    height: 175px;
    position: relative;
}

.col-inner {
    position: absolute;
    top: 50%;
    height: 110px;
    margin-top: -55px;
    width: 100%;
}

.row-download {
    margin-top: 10px;
}

.btn-download {
    width: 140px;
}

.tags-input-home li {
    height: 30px;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
}

.tags-input-home input {
    height: 30px;
}