// general
$base-font-family:                      'Source Sans Pro', Helvetica, sans-serif;

// tagsInput
$tags-bgcolor:                          #fff;
$tags-border:                           none;
$tags-border-shadow:                    none;
$tags-outline-box-shadow:               none;
$tags-outline-box-shadow-invalid:       none;

$tag-height:                            26px;
$tag-font:                              14px $base-font-family;
$tag-color:                             #fff;
$tag-bg:                                rgba(0, 122, 255, 1);
$tag-border:                            none;
$tag-border-radius:                     13px;
$tag-color-selected:                    #ccc;
$tag-color-invalid:                     #ff0000;

$remove-button-color:                   #fff;
$remove-button-color-active:            #ccc;
$remove-button-font:                    bold 16px Arial, sans-serif;

$input-font:                            $tag-font;

// autoComplete
$suggestions-z-index:                   999;
$suggestions-width:                     100%;
$suggestions-bgcolor:                   #fff;
$suggestions-border:                    1px solid rgba(0, 0, 0, 0.2);
$suggestions-border-shadow:             0 5px 10px rgba(0, 0, 0, 0.2);

$suggestion-font:                       16px $base-font-family;
$suggestion-color:                      #000;
$suggestion-bgcolor:                    #fff;
$suggestion-color-selected:             #fff;
$suggestion-bgcolor-selected:           #0097cf;

$suggestion-highlight-font:             normal bold $suggestion-font;
$suggestion-highlight-color:            $suggestion-color;
$suggestion-highlight-bgcolor:          $suggestion-bgcolor;
$suggestion-highlight-color-selected:   $suggestion-color-selected;
$suggestion-highlight-bgcolor-selected: $suggestion-bgcolor-selected;