<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>ngTagsInput Test Page</title>
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="../build/ng-tags-input.js"></script>
  <link rel="stylesheet" href="../build/ng-tags-input.css"/>
  <style>
    .foo .tags .input {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 4px;
      border-left: 3px solid;
      padding-left: 3px;
    }

    .foo .tags .input {
      width: 1036px;
      
    }
    
    .foo .tags .tag-item {
      height: 50px;
    }

    .foo.ng-pristine .tags {
      background-color: green;
    }
    .foo.ng-dirty .tags {
      background-color: brown;
    }
    .foo.ng-valid .tags {
      background-color: yellow;
    }
    .foo.ng-invalid .tags {
      background-color: red;
    }

    .foo .autocomplete .suggestion-item.selected {
      background-color: green;
    }
  </style>
</head>
<body ng-controller="Ctrl">
  <tags-input class="foo" ng-model="tags" limit-tags="5"
              replace-spaces-with-dashes="true"
              enable-editing-last-tag="true"
              placeholder="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
              min-tags="3">
    <auto-complete source="loadItems($query)"
                   debounce-delay="0"
                   min-length="1"
                   max-results-to-show="10">
    </auto-complete>
  </tags-input>
  <form name="form">
    <tags-input name="tags" ng-init="tags2=['item1', 'item2', 'item3']" ng-model="tags2" display-property="label"
                add-on-enter="{{addOnEnter}}"
                add-on-blur="true"
                placeholder="{{placeholder}}"
                remove-tag-symbol="{{removeTagSymbol}}"
                max-length="5"
                add-from-autocomplete-only="false">
      <auto-complete source="loadItems2($query)"
                     debounce-delay="0"
                     min-length="1"
                     max-results-to-show="10">
      </auto-complete>
    </tags-input>

    <p>Valid: {{form.tags.$valid}}</p>
    <p>Errors: {{form.tags.$error}}</p>
  </form>

  <input type="text" ng-model="placeholder"/><span>{{placeholder}}</span>
  <input type="text" ng-model="removeTagSymbol"/>
  <input type="checkbox" ng-model="addOnEnter"/><span>{{addOnEnter}}</span>

  <script type="text/javascript">
    angular.module('app', ['ngTagsInput'])
        .controller('Ctrl', function($scope, $q, $timeout) {
            var superheroes = [
              { text: 'Batman <bruce@wayne.com>' },
              { text: 'Superman' },
              { text: 'Flash' },
              { text: 'Iron Man' },
              { text: 'Hulk' },
              { text: 'Wolverine' },
              { text: 'Green Lantern' },
              { text: 'Green Arrow' },
              { text: 'Spiderman'}
            ];

            $scope.tags = [{ text: 'Batman' }, { text: 'Superman' }, { text:'Flash' }];
            $scope.placeholder = 'New tag';
            $scope.loadItems = function(query) {
              console.log(query);
              var deferred = $q.defer();
              var items = [];
              for (var i = 0; i < superheroes.length; i++) {
                if (superheroes[i].text.indexOf(query) > -1) {
                  items.push(superheroes[i]);
                }
              }
              $timeout(function() {
                deferred.resolve(items);
              }, 2000);
              return deferred.promise;
            };

            $scope.loadItems2 = function(query) {
                var deferred = $q.defer();
                deferred.resolve(['Item1', 'Item2', 'Item3', 'Item4', 'Item5']);
                return deferred.promise;
            }
        })
        .directive('limitTags', function() {
          return {
            require: 'ngModel',
            link: function(scope, elem, attrs, ngModel) {
                var max = parseInt(attrs.limitTags, 10);
                ngModel.$parsers.unshift(function(value) {
                    if (value && value.length > max) {
                      value.splice(value.length - 1, 1);
                    }
                    return value;
                });
            }
          };
        })
        .config(function(tagsInputConfigProvider) {
            tagsInputConfigProvider
              .setDefaults('tagsInput', {
                placeholder: 'New tag'
              })
              .setDefaults('autoComplete', {
                highlightMatchedText: true
              })
              .setActiveInterpolation('tagsInput', {
                placeholder: true,
                removeTagSymbol: true,
                addOnEnter: true
              });
        });
  </script>
</body>
</html>