---
layout: default
title: Getting started - ngTagsInput
description: All you need to know to start using the ngTagsInput directive
priority: 0.80
---
<h1>Getting started</h1>

<section>
  <h2>Installing</h2>
  <p>Installing <a href="download.html">ngTagsInput</a> is a 3-step process:</p>
  <ol>
    <li>
      Add the ngTagsInput script file to your page &ndash; make sure it's added after the Angular script:
<pre>&lt;script type="text/javascript" src="path/to/angular.min.js"&gt;&lt;/script&gt;
<strong>&lt;script type="text/javascript" src="path/to/ng-tags-input.min.js"&gt;&lt;/script&gt;</strong></pre>
    </li>
    <li>
      Add the ngTagsInput style file to your page:
<pre>&lt;head&gt;
<strong>&lt;link rel="stylesheet" href="path/to/ng-tags-input.min.css"&gt;</strong>
&lt;/head&gt;</pre>
    </li>
    <li>
      Add the <em>ngTagsInput</em> module as a dependency in your Angular application:
<pre>angular.module('myApp', [<strong>'ngTagsInput'</strong>]);</pre>
    </li>
  </ol>
</section>
<section ng-controller="GettingStartedCtrl">
  <h2>Basic usage</h2>
  <p>ngTagsInput provides a new HTML element called <em>&lt;tags-input&gt;</em> which can be bind to a property of a scope:</p>
<pre><strong>&lt;tags-input ng-model="tags"&gt;&lt;/tags-input&gt;</strong></pre>
  <p>
    The property bound to the directive must be an array of strings, if it exists. Otherwise the directive will create the
    property and initialize it as an empty array.
  </p>
  <p>
    Assuming that the <em>tags</em> property contains 3 items - say, <em>Tag1</em>, <em>Tag2</em> and <em>Tag3</em> -
    the above code will produce the following:
  </p>
  <p><tags-input ng-model="tags"></tags-input></p>
  <p>
    There are lots of options that you can use to change the default behavior of the directive. You'll find everything you
    need to know on the documentation page.
  </p>
</section>
<section ng-controller="GettingStartedCtrl">
  <h2>Autocomplete</h2>
  <p>Autocomplete support is available through the <em>&lt;auto-complete&gt;</em> tag:</p>
<pre>&lt;tags-input ng-model="tags"&gt;
  <strong>&lt;auto-complete source="loadItems($query)"&gt;&lt;/auto-complete&gt;</strong>
&lt;/tags-input&gt;
</pre>
  <p>
    You should pass a function of the scope to the <em>source</em> attribute. That function will be called for every
    keystroke on the input field and will be provided with its current value. That function also must return a promise which
    eventually resolves to either an array of strings or an object with a <em>data</em> property containing an array of
    strings (e.g. <em>$http promises</em>).
  </p>

  <p>
    Given the above code and assuming that the <em>loadItems</em> function will return a promise that resolves to an array
    containing 5 items - say, <em>Tag1</em>, <em>Tag2</em>, <em>Tag3</em>, <em>Tag4</em> and <em>Tag5</em> - the
    result will be the following (you need to type at least 3 characters before the autocomplete kicks in):
  </p>
  <p>
    <tags-input ng-model="tags">
      <auto-complete source="loadItems($query)"></auto-complete>
    </tags-input>
  </p>
  <p>
    Just like the <em>&lt;tags-input&gt;</em> directive, several options are available for you to customize how the
    autocomplete will work. Check them out on the <a href="documentation.html">documentation</a> page.
  </p>
</section>

<section ng-controller="GettingStartedCtrl">
  <h2>Appearance</h2>
  <p>
    ngTagsInput comes with a style sheet that tries to mimic the look-and-feel of an ordinary input element. If the default
    appearance doesn't fit your application, you can customize it with little effort. Below you can check a Boostrap-like
    version of the previous example:
  </p>
  <p><tags-input ng-model="tags" custom-class="bootstrap">
    <auto-complete source="loadItems($query)"></auto-complete>
  </tags-input></p>
  <p>
    There are two things you can do in order to achieve that:
  </p>
  <ul>
    <li>Edit the ng-tags-input.css file and globally change the directive's look-and-feel.</li>
    <li>Use the <em>custom-class</em> option and change the appearance of elements individually.</li>
  </ul>
  <p>
    These options aren't mutually exclusive and you can use them both in order to achieve better results.
  </p>
</section>

<section>
  <h2>Code Example</h2>
  <p>Check out below a code example showing how to use the directive:</p>
  {% highlight html %}
<html>
  <head>
    <script src="angular.min.js"></script>
    <script src="ng-tags-input.min.js"></script>
    <link rel="stylesheet" type="text/css" href="ng-tags-input.min.css">
    <script>
      angular.module('myApp', ['ngTagsInput'])
        .controller('MyCtrl', function($scope, $http) {
          $scope.tags = ['just','some','cool','tags'];
          $scope.loadTags = function(query) {
            return $http.get('/tags?query=' + query);
          };
        });
    </script>
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl">
    <tags-input ng-model="tags">
      <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
  </body>
</html>
  {% endhighlight %}
</section>
