span.ngTagsInput {
    background-color: #dadada;
    margin: 2px;
    padding: 3px;
    display: inline-block;
}

input.ngTagsInput {
    border: 0px;
    outline: none;
    margin: 2px;
}

button.ngTagsInput {
    padding-right: 3px;
    padding-left: 5px;
    border: none;
    background: none;
    color: #707070;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
}
div.ngTagsInput {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 398px;
    overflow-y: auto;
    word-wrap: break-word;
    cursor: text;
}