.ngTagsInput span {
    background-color: #aadfef;
    margin: 2px;
    padding-left: 4px;
    padding-right: 2px;
    display: inline-block;
    border-radius: 3px;
    height: 22px;
}

.ngTagsInput input {
    border: 0px;
    outline: none;
    margin: 2px;
    height: 21px;
}

.ngTagsInput button {
    padding-right: 3px;
    padding-left: 5px;
    border: none;
    background: none;
    color: #333333;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;

}

.ngTagsInput button:active {
    color: #ff0000;
}

.ngTagsInput {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    width: 150px;
    vertical-align: middle;
}

.myClass {
    width: 500px;
}

