<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}"/>
  <meta charset="utf-8">

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.4.0/lodash.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/ng-tags-input.min.css">
  {% if page.bootstrap %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/ng-tags-input.bootstrap.min.css">
  {% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

  {% include tracking.html %}
</head>
