<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}"/>
  <meta charset="utf-8">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/ng-tags-input.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/syntax.css">

  {% include tracking.html %}
</head>