<div class="container">
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="index.html" class="navbar-brand">ngTagsInput</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="download.html">Download</a></li>
          <li><a href="gettingstarted.html">Getting started</a></li>
          <li><a href="demos.html">Demos</a></li>
          <li><a href="documentation.html">Documentation</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://github.com/mbenford/ngTagsInput"><i class="icon-github"></i> View on GitHub</a></li>
        </ul>
      </div>

    </div>
  </nav>
</div>