<div class="container" ng-controller="NavCtrl">
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a href="/ngTagsInput" class="navbar-brand">ngTagsInput</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="download">Download</a></li>
          <li><a href="gettingstarted">Getting Started</a></li>
          <li><a href="demos">Demos</a></li>
          <li><a href="documentation">Documentation</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://github.com/mbenford/ngTagsInput"><i class="icon-github"></i> View on GitHub</a></li>
        </ul>
      </div>
  </nav>
</div>