<html>
<head>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../build/ng-tags-input.js"></script>
    <link rel="stylesheet" type="text/css" href="../build/ng-tags-input.css">
    <script>
        angular
            .module('myApp', ['ngTagsInput'])
            .controller('MyCtrl',
                function($scope) {
                    $scope.tags = [
                        { text: 'just' },
                        { text: 'some' },
                        { text: 'cool' },
                        { text: 'tags' }
                    ];
                });
    </script>
</head>
<body ng-app="myApp" ng-controller="MyCtrl">

    <!--<tags-input ng-model="tags"></tags-input>-->

    <div class="tags-input" tags-input ng-model="tags"></div>

</body>
</html>
