<div class="ngTagsInput" tabindex="-1" ng-class="options.customClass" ti-transclude-append>
  <div class="tags" ng-class="{focused: hasFocus}">
    <ul class="tag-list">
      <li class="tag-item" ng-repeat="tag in tags" ng-class="getCssClass($index)">
        <span>{{tag}}</span>
        <button type="button" ng-click="remove($index)">{{options.removeTagSymbol}}</button>
      </li>
    </ul>
    <input type="text" class="tag-input"
           placeholder="{{options.placeholder}}"
           maxlength="{{options.maxLength}}"
           tabindex="{{options.tabindex}}"
           ng-model="newTag"
           ng-change="newTagChange()"
           ti-autosize>
  </div>
</div>