<div class="host" tabindex="-1" ng-click="disabled || eventHandlers.host.click()" ti-transclude-append ng-disabled="disabled">
  <div class="tags" ng-class="{focused: hasFocus}">
    <ul class="tag-list">
      <li class="tag-item" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }">
        <span ng-bind="getDisplayText(tag)"></span>
        <a class="remove-button" ng-click="disabled || tagList.remove($index)" ng-bind="options.removeTagSymbol"></a>
      </li>
    </ul>
    <input class="input"
           ng-model="newTag.text"
           ng-change="eventHandlers.input.change(newTag.text)"
           ng-keydown="eventHandlers.input.keydown($event)"
           ng-focus="eventHandlers.input.focus($event)"
           ng-blur="eventHandlers.input.blur($event)"
           ng-paste="eventHandlers.input.paste($event)"
           ng-trim="false"
           ng-class="{'invalid-tag': newTag.invalid}"
           ng-disabled="disabled"
           ti-bind-attrs="{type: options.type, placeholder: options.placeholder, tabindex: options.tabindex, spellcheck: options.spellcheck}"
           ti-autosize>
  </div>
</div>